name: "Main / Pull requests build"
on:
    pull_request:
        paths-ignore:
            - '.txt'
            - 'LICENSE'
            - 'docs/**'
        branches: [ main ]
    push:
        branches:
            - main

jobs:
    pre-commit:
        name: Pre-commit check
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout git repository
                uses: actions/checkout@v4.1.6


            - name: Dastardly Scan Action
              # You may pin to the exact commit or the version.
              # uses: PortSwigger/dastardly-github-action@f72f38f8b4ac8ed59c69854cc77eb9d53e50e78b
              uses: PortSwigger/dastardly-github-action@v1.0.0
              with:
                # The full url (including scheme) of the site to scan
                target-url: https://ginandjuice.shop
                # The filename used for the scan report. This filepath relates to the dastardly container, and will exist in the github workspace (/github/workspace)
                #output-filename: # optional, default is dastardly-report.xml
                      

                
